$negro: black;
$blanco: white;

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: $negro;
}

header {
    i {
        margin-right: 8px;
    }
    nav {
        ul {
            margin: 0 auto;
        }
    }
}

main {
    .carousel.slide {
        width: 100%;
        img {
            width: 100%;
            margin: 0 auto;
        }
    }

    .container-fluid.color {
        padding: 40px;
        font-size: 22px;
        background-color: hsl(120, 9%, 37%);
    }

    .secRow {
        margin-top: 100px;
    }

    .play {
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: red;
            }
        }
    }
}

footer {
    border-top: solid 2px white;
    position: absolute;
    bottom: 0;
    background-color: hsl(120, 9%, 37%);
    padding: 10px;
}